*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: gold;
}

div{
    height: 100%;
    background-color: black;
    clip-path: polygon(0 0, 100% 0, 100% 0%, 0 100%);
}